<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server8" value="cincdb04" />
    <add key="server22" value="cincdb04" />
    <add key="server33" value="cincdb04" />
    <add key="server37" value="cincdb04" />
    <add key="server40" value="cincdb04" />
    <add key="server44" value="cincdb04" />
    <add key="server45" value="cincdb04" />
    <add key="server46" value="cincdb04" />
    <add key="server47" value="cincdb04" />
    <add key="server48" value="cincdb04" />
    <add key="server52" value="cincdb04" />
    <add key="server66" value="cincdb04" />
    <add key="server67" value="cincdb04" />
    <add key="server68" value="cincdb04" />
    <add key="server70" value="cincdb04" />
    <add key="server71" value="cincdb04" />
    <add key="server76" value="cincdb04" />
    
    <add key="remotepath47" value="/BAI"/>
    <add key="filepattern47" value="*BAI*"/>
    <add key="filepattern68" value="*BAI*"/>
    <add key="imageremotepath47" value="/PaidChecks"/>
    <add key="imagefilepattern47" value="*.zip"/>
    <add key="imagefilepattern66" value="*.937*"/>
    <add key="imagefilepattern67" value="*.zip"/>
    <add key="filepattern76" value="*BAI*"/>
    <add key="sftp_tranfolder22" value="/bai"/>
    <add key="sftp_imagefolder22" value="/for accounting integrators"/>
    <add key="sftp_site22" value="40.143.34.4"/>
    <add key="sftp_port22" value="22"/>
    <add key="sftp_user22" value="CINC"/>
    <add key="sftp_password22" value="w3bj8U45"/>

    <add key="path48" value="C:\sftp\newdominion\For Accounting Integrators\"/>

    <add key="path33" value="C:\sftp\bnc\For_Accounting_Integrators\"/>
    <add key="path66" value="\\cincsql02\c$\sftp\Citywide\For Accounting Integrators\Check Images\"/>

    <add key="path40" value="C:\sftp\metro\For Accounting Integrators\"/>
    <add key="transFilePattern40" value="AITR%.csv"/>
    <add key="balFilePattern40" value="AIBA%.csv"/>

    <add key="path44" value="C:\sftp\cityfirst\For Accounting Integrators\"/>
    <add key="path45" value="C:\sftp\quantum\For Accounting Integrators\"/>
    <add key="path70" value="\\192.168.100.236\SFTP\Premier\For Accounting Integrators\"/>
    <add key="path71" value="C:\sftp\seacoast\For Accounting Integrators\"/>
    <add key="path76" value="C:\utilities\IberiaFiles\"/>

    <add key="pathBAI66" value="\\cincsql02\c$\sftp\Citywide\For Accounting Integrators\BAI\"/>
    <add key="pathBAI67" value="\\192.168.100.236\sftp\ValleyNational\For_Accounting_Integrators\"/>
    <add key="pathBAI68" value="c:\extract\"/>

    <add key="pathXML67" value="\\192.168.100.236\SFTP\ValleyNational\For_Accounting_Integrators\CheckImages\"/>

    <add key="host" value="mbfileexpress.mbfinancial.com"/>
    <add key="port" value="22"/>
    <add key="uid" value="s-CINC"/>
    <add key="pwd" value="Q11!ffT0y"/>
    <add key="privatekey" value="S:\utilities\AIProcessBankFiles\CincSystemsPrivate.ppk"/>
    <add key="hostfingerprint" value="ssh-rsa 2048 40:ec:fb:ab:79:17:81:93:46:a8:d5:2e:1c:37:20:43"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MaxRecords22" value="100" />
    <add key="MaxRecords68" value="100" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ImageServiceSoapBinding" maxReceivedMessageSize="773741824">
          <readerQuotas maxStringContentLength="2500000" maxNameTableCharCount="2147483647" />
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="InquiryServiceSoapBinding" maxReceivedMessageSize="773741824">
          <security mode="TransportWithMessageCredential" />
          <readerQuotas maxStringContentLength="2500000" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://jxapp.jhahosted.com/jxchange/2008/ServiceGateway/ServiceGateway.svc" binding="basicHttpBinding" bindingConfiguration="ImageServiceSoapBinding" contract="ImageService" name="ImageServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
